.background {
  padding: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  background: linear-gradient(150deg, rgb(0, 104, 104), rgb(172, 112, 0) 100%, #430000 10%);
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  min-width: 420px;
  max-width: 800px;
  min-height: 292px;
  position: relative;
  background-color: #161819;
  border-radius: 24px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}

.auth-form {
  padding-top: 33px;
  width: 60%;
  margin-left: 20%;
}

.auth-title {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 26px;
}

.text-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;
  background-color: #161819;
  outline: none;
  border-width: 0px;
  border-bottom: 2px solid #3c36ff;
  color: white;
}

.text-input::placeholder {
  color: hsla(0, 0%, 100%, 0.568);
}

.submit-button {
  width: 100%;
  padding: 14px;
  margin-bottom: 30px !important;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  background-color: #3c36ff;
  color: white;
  outline: none;
}

.submit-button::hover {
  background-color: #0500a4;
}
